go 1.19

use (
	./balancedParentheses
	./consecutiveStrings
	./countBits
	./createPhoneNumber
	./digitalRoot
	./formatDuration
	./humanReadableTime
	./nextBigger
	./orderWeight
	./pickPeaks
	./pong
	./productFib
	./rangeExtraction
	./rectangleRotation
	./snakesLadders
)
