go 1.19

use (
	./balancedParentheses
	./consecutiveStrings
	./countBits
	./digitalRoot
	./formatDuration
	./nextBigger
	./orderWeight
	./pickPeaks
	./pongExample
	./productFib
	./rangeExtraction
	./rectangleRotation
	./snakesLadders
)
